* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #eee5c9;
    text-align: center;

    align-items: top;
}

        /**header**/
.posicionamiento-titulo a{
    display: flex;

    align-items: center;
    justify-content: center;
}

.posicionamiento-titulo img{
    position: fixed;
    top: 25px;
    z-index: 1000;

    width: 30%;
    }


     /*********** Nav***/
    nav {
      display: inline-block;
      width: 10%;

      vertical-align: top;

      text-align: left;

      padding: 15px;

      margin-top: 20px;

      height: fit-content;

        animation: deslizIzquierda 7s ease-out forwards;
}

@keyframes deslizIzquierda {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

    nav ul {
      list-style: none;
    }

    nav ul li {
      margin-bottom: 15px;
    }

    nav ul li a {
      text-decoration: none;
      color: #eee5c9;
      font-weight: bold;
    }

    nav a:hover{
        border: #eee5c9 1px dotted;
        padding: 1px;
    }

/******** Aside******/
    aside {
      display: inline-block;
      width: 15%;

      vertical-align: top;
      margin-top: 20px;

      padding: 10px;

      height: fit-content;

      text-align: center;

      font-size: 9px;

    animation: deslizDerecha 7s ease-out forwards;
}

@keyframes deslizDerecha {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

    aside img {
      width: 100%;
      margin-top: 10px;
    }


     nav, aside, .noticia{
        background-color: #1b2215;
    }

    nav, aside{
        position: sticky;
        top: 20px;
    }

/*** animacion img ***/
    .derecha .noticia img:hover {
      transform: scale(1.2);
    }

        /*** footer ***/
footer{
  background-color: #1b2215;
    color: #eee5c9;
  padding: 10px 0px;

    position:  sticky;
      bottom: 0px;
}

.derechos_reservados{
  color: #36472691;
  font-size: 6px;
}

     /**************** Boton *********/
    .boton-pagina-principal{
      text-align: right;

            position:  sticky;
          bottom: 55px;
    }

    .boton-pagina-principal a{
      text-decoration: none;
    }

    .boton-pagina-principal img{
      width: 7%;
      margin-bottom: -45px;
    }

    .boton-pagina-principal figcaption{
      font-size: 8px;
      color: #f30b0bdc;

        margin-right: 25px;
        margin-bottom: 10px;
    }