
  /** header **/
    header {
      height: 100vh;

      display: flex;

      align-items: center;
      justify-content: center;
      text-align: center;

      background-image: url('../img/foto\ principal.avif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } 

    header img {
      width: 19%;
      margin-right: 10%;
    }

    header h1 {
      font-size: 50px;

      color: #b61414c4;

      margin-right: 17%;
      margin-left: 4%;
    }

    header p{
        margin: 0px;
    }

    header .sticky {
      position: sticky;
      top: 0;
      z-index: 1000;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 80px;

      transition: all 0.3s ease;
    }

    /********** Container ************/
    .container {
      display: inline-block;

      vertical-align: top;

      width: 70%;

      padding: 20px;
      
      margin: 0 auto;
    }

    .container a{  
    text-decoration: none;

    margin-top: 5px;
    
    color: #eee5c9;

    font-weight: bold;
    }
 
    /**************** Seccion Principal *********/
    main {
      display: block;
    }

    /**************** Primera Noticia *********/

    .noticia {
      display: inline-block;

      padding: 15px;

      margin: 7px;
    }

    .noticia h2, h3{
        text-align: center;
        padding: 20px 0px;
    }

    .noticia h2,h3, figcaption ,p{
        color: #eee5c9;
    }

    .noticia img {
      width: 100%;
    }

    .noticia > a{
        padding-top: 15px;
    }

    .noticia a:hover{
        border: #eee5c9 1px dotted;
        padding: 1px;
    }

    .noticia figcaption{
      font-size: 10px;
      color: #f30b0bdc;
      text-align: right;
    }

/**************** Segunda Noticia *********/

    .dos-noticias {
      width: 100%;
    }
    
    .dos-noticias .noticia{
      width: 48%;
      vertical-align: top;

      box-sizing: border-box;
    }

 /**************** Tercera Noticia *********/
  
    .bloque-final{
      padding-top: 15px;

    }
    
    .bloque-final .noticia{
      display: inline-block;
        width: 49%;

        padding-top: 20px;
    }

    .derecha{
      display: inline-block;
        width: 49%;
        padding-left: 20px;
    }

    .derecha .noticia{
      width: 84%;
    }

     /**************** Boton *********/
    .boton-pagina-principal{
      text-align: right;

            position:  sticky;
          bottom: 55px;
    }

    .boton-pagina-principal a{
      text-decoration: none;
    }

    .boton-pagina-principal img{
      width: 7%;
      margin-bottom: -45px;
    }

    .boton-pagina-principal figcaption{
      font-size: 8px;
      color: #f30b0bdc;

        margin-right: 25px;
        margin-bottom: 10px;
    }